.homeMainContainer{
  background-color: rgb(230,230,250);
  overflow: auto;
  padding-bottom: 4vh;
  font-style: 'san-serif';
  height: 85vh;
  font-family: 'sans serif';
}

.homeMainContainer::-webkit-scrollbar {
  display: none;
}

.homeContainer{
  position: relative;
  padding-top: 1vmin;
  margin-top: 0px;
}

.homeCarouselContainer{
  height: 26vh;
  padding: 2vmin;
  padding-top: 0px;
  padding-bottom: 0px;
}

.middleContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 2vmin;
  margin-top: 1vmin;
  margin-bottom: 1vmin;
  border-color: transparent;
  font-family: 'sans serif';
}
  
.buttons{
  width: 25vw;
  height: 10vmin;
  margin: 1vmin;
  font-size: 3vmin;
  border-radius: 1.75em;
  background-color: white;
  border-color: pink;
  color: rgb(33, 3, 33);
}

.requestsHead{
  display: flex;
  justify-content: space-between;
  background-color: rgb(232, 215, 248);
  align-items: center;
  padding-left: 7vmin;
  padding-right: 7vmin;
  }

.seeAll{
  display: flex;
  align-items: center;
  justify-content: center;
}

.seeAll h1 {
  font-size: 3vmin;
  text-align: center;
}

.seeAll p {
  font-size: 4vmin;
  padding-top: 1vmin;
}

.reqHeading {
  font-size: 3vmin;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .homeCardContainer{
    width: 90vw;
    height: 20vh;
  }
  
  .buttons{
    width: 40vw;
  }
}

.homeCardContainercardText::-webkit-scrollbar{
  display: none;
}

@media screen and (min-width: 900px) {
  .homeCarouselContainer{
    height: 45vh;
  }
}




.requestsHomeMainContainer{
  background-color: rgb(230,230,250);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  font-family: 'sans-serif';
}

.requestsHomeMainContainer::-webkit-scrollbar{
  display: none;
}

.requestHomeHeading{
  font-size: 3vmax;
  margin: 0px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
  background-color: #995aff8b;
  width: 100%;
  text-align: center;
}

.requestHomesort{
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.requestHomesort button{
  width: 20vw;
  height: 7vmin;
  margin: 1vmin;
  font-size: 3vmin;
  border-radius: 1.75em;
  background-color: white;
  border-color: pink;
  font-family: 'sans-serif';
  color: rgb(33, 3, 33);
}

.requestsHomeList{
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1vw;
  margin: 0px;
}

.requestHomeCardContainer{
  font-family: 'sans-serif';
  width: 40vw;
  height: fit-content;
  margin: 1vw;
  padding: 1vw;
  border-radius: 1vmax;
  background-color: rgb(255, 255, 255);
}

.requestHomeTop{
  display: flex;
  height: 80%;
  align-items: center;
  justify-content: center;
}

.requestHomeDesignImage{
  width: 25%;
  height: 90%;
  padding: 1%;
  border-radius: 10%;
  margin-right: 5%;
}

.requestHomeCardText{
  margin: 0px;
  height: 90%;
  overflow: auto;
}

.requestHomeCardText::-webkit-scrollbar {
  display: none;
}

.requestHomeCardText h1{
  font-size: 90%;
}

.requestHomename{
  color: #0077ff;
  text-align: center;
  font-size: 4.5vmin;
}

.requestsHomePara{
  font-size: 4vmin;
  font-weight: bold;
  padding: 1%;
  margin: 0px;
}

.requestHomeCardText span{
  font-size: 3vmin;
  height: 1vmin;
  font-weight: 500;
  overflow: auto;
}

.requestHomeBottom{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
}

.requestHomeAccept{
  border-style: groove;
  width: 40%;
  border-radius: 2vmax;
  height: 6vmin;
  font-size: 3vmin;
  border: none;
  color: white;
  font-family: serif;
  background-color: #76B3FA;
}

.requestHomeDecline{
  border-style: hidden;
  font-size: 3vmin;
  border: none;
  color: rgb(255, 22, 22);
  font-family: serif;
  background-color: rgba(0, 0, 0, 0);
}

@media screen and (max-width: 950px) {
  .requestHomeCardContainer{
      width: 80vw;
  }
  .requestsHomeMainContainer{
      height: 88vh;
  }
}

.cancel{
  font-size: 3vmin;
  text-align: end;
}