.headerContainer{
  width: 100%;
  background-color: rgb(230,230,250);
  height: fit-content;
  font-family: 'sans serif';
  padding-bottom: 1%;
  position: sticky;
  top: 0%;
}

.headerMainContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.headerLogoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo{
  height: 7vmin;
  width: 7vmin;
  padding: 0px;
  margin: 0px;
}

.headerHeading {
  font-size: 3vmin;
  margin-left: 1vmin;
}

.searchBarContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  width: 60vw;
  height: 100%;
  border-radius: 5vw;
}

.searchButton{
  border-width: 0px;
  font-size: 3vmin;
  padding-top: 7px;
  padding-left: 1vmin;
  border-radius: 5vmin 5vmin;
  background-color: whitesmoke;
}

.searchBar{
  width: 90%;
  border-radius: 2vmin;
  border-width: 0px;
  background-color: whitesmoke;
  margin: 0px;
}

.searchBar:focus {
  outline: none;
}

.endContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  color: black;
  margin-right: 5px;
  font-size: 20px;
  border-width: 0px;
  background-color: #eeeeee00;
}

.searchBarContainerMobile{
  display: none;
}

@media screen and (max-width: 950px) {
  .searchBarContainer{
    display: none;
  }

  .searchBarContainerMobile{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 1vw;
    padding-bottom: 1vw;
    background-color: rgb(230,230,250);
  }

  .searchButton{
    border-width: 0px;
    font-size: 3.5vmin;
    background-color: whitesmoke;
  }

  .searchBarMobile{
    display: flex;
    align-items: center;
    width: 82%;
    height: 4vh;
    background-color: whitesmoke;
    border-radius: 5vmin;
    box-shadow: 0.3vmin 0.3vmin 1vmin 1vmin rgba(128, 128, 128, 0.2);
  }
}